.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.container > a, .container > a:active, .container > a:visited {
    text-decoration: none;
    font-size: 18px;
    color: #6686a3;
}

.controlsContainer {
    display: flex;
    flex-direction: column;
}

.controlsContainer > li {
    color: #728e9c;
    user-select: none;
    padding: 8px;
    cursor: pointer;
}

.controlsContainer > li:hover {
    color: white;
    background-color: #337ab6;
    border-radius: 5px;
}